<header
    class="main-header">
    <!-- Logo -->
    <a
        class="logo" href="index2.html">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b></b>Sign</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <b>Viewed</b> Signed</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav
        class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="push-menu" href="#" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>

        <div class="navbar-custom-menu">
            <ul
                class="nav navbar-nav">
                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    
                        {# <img src="{{ asset('dist/img/user2-160x160.jpg')}}" class="user-image" alt="User Image"> #}
                        <i class="glyphicon glyphicon-download-alt user-image"></i>
                        <span class="hidden-xs">Download base certificates</span>
                    </a>
                    <ul
                        class="dropdown-menu">
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="row">
                                <div class="col-md-4 col-sm-12">                                
                                    <a href="{{ path('download_ca',{file: 'ca'}) }}" class="btn btn-sm btn-default btn-flat">CA.crt</a>
                                </div>
                                <div class="col-md-4 col-sm-12">                                
                                    <a href="{{ path('download_ca',{file: 'crl'}) }}" class="btn btn-sm btn-default btn-flat">CRL.pem</a>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <a href="{{ path('download_ca',{file: 'dh'}) }}" class="btn btn-sm btn-default btn-flat">DH.pem</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                <li>
                    <a data-toggle="control-sidebar" href="#">
                        <i class="fa fa-gears"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>