<!-- Left side column. contains the logo and sidebar -->
<aside
    class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section
        class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{ asset('dist/img/user2-160x160.jpg')}}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#">
                    <i class="fa fa-circle text-success"></i>
                    Online</a>
            </div>
        </div>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="{{ path('default') }}">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="{{ path('default') }}">
                            <i class="fa fa-th-list"></i>
                            Active certs</a>
                    </li>
                </ul>
            </li>
            <li class="treeview">
                <a href="pages/widgets.html">
                    <i class="fa fa-lock"></i>
                    <span>Sign</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">CRT <i class="fa fa-file"></i></small>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active">
                        <a href="{{ path('create_crt') }}">
                            <i class="fa fa-lock"></i>
                            New full certificate</a>
                    </li>
                    {# <li class="active">
                        <a href="{{ path('create_crt') }}">
                            <i class="fa fa-lock"></i>
                            Sing request</a>
                    </li> #}
                </ul>
            </li>
            {# <li>
                <a href="pages/widgets.html">
                    <i class="fa fa-unlock"></i>
                    <span>Request</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-blue">CSR <i class="fa fa-file"></i> </small>
                    </span>
                </a>
            </li> #}

        </ul>
    </section>
    <!-- /.sidebar -->
</aside>