{% extends 'wrapper/wrapper.html.twig' %}

{% block title %}Create cert{% endblock %}

{% block section %}
<section class="content-header">
      <h1>
        New cert
      </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>
                Sign</a>
        </li>
        <li class="active">New full cert</li>
    </ol>
    </section>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
        
<!-- general form elements -->
          <div class="box box-default">
            <div class="box-header with-border">
              <h3 class="box-title">New full cert</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            {{ form_start(form) }}
              <div class="box-body">
              <!-- select -->
                <div class="form-group">
                    {{ form_row(form.cert_type) }}
                  {# <label>Certificate type</label>
                  <select class="form-control">
                    <option>Server</option>
                    <option>Client</option>
                  </select> #}
                </div>
                <div class="form-group">                  
                    {{ form_row(form.common_name) }}
                </div>
                <div class="form-group">                  
                    {{ form_row(form.alt_names) }}
                </div>                
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            {{ form_end(form) }}
          </div>
          <!-- /.box -->
        </div>
    </div>
{% endblock %}

{% block custom_js %}
<script>
//Date range picker
$('.reservation').daterangepicker()
</script>
{% endblock %}