{% extends 'wrapper/wrapper.html.twig' %}

{% block title %}Certificated list
{% endblock %}

{% block section %}
<section class="content-header">
      <h1>
        List active certs
        <small>Active certs</small>
      </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i>
                Dashboard</a>
        </li>
        <li class="active">Active certificates</li>
    </ol>
    </section>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
          {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
          {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!-- TABLE: LATEST ORDERS -->
          <div class="nav-tabs-custom">
            <div class="box-header with-border">
                <h3 class="box-title pull-left">Certs</h3>    
            </div>
            <!-- /.box-header -->
            <div class="box-body">
            <div class="tab-content no-padding">
                <div class="table-responsive">
                    <table class="table no-margin">
                    <thead>
                    <tr>
                        <th>Expiration date</th>
                        <th>Status</th>
                        <th>Type cert</th>
                        <th>Common name</th>                        
                        <th>Alternative Names</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cert in certs %}
                    <tr>
                        <td>{{ cert.validTo|date("m/d/Y") }}</td>
                        <td>{{ (cert.status) ? '<span class="label label-success">active</span>' : '<span class="label label-danger">revoke</span>' }}</td>
                        <td>{{ (cert.certType) ? '<span class="label label-primary">client</span>' : '<span class="label label-warning">server</span>' }}</td>
                        <td>{{ cert.name }}</td>
                        <td>{{ cert.altNames }}</td>
                        <td>
                          <div class="btn-group pull-left">
                          <a href='{{ path('download',{cert: cert.name}) }}' class='btn btn-default btn-sm btn-flat {{ (cert.status) ? '' : 'disabled' }}'>Download</a>
                          <a href='{{ path('revoke',{cert: cert.name}) }}' onclick="return confirm('Do you really want to revoke it?')" class='btn btn-danger btn-sm btn-flat {{ (cert.status) ? '' : 'disabled' }}'>Revoke</a>
                          <a href='{{ path('delete',{cert: cert.name}) }}' onclick="return confirm('Do you really want to remove it?')" class='btn btn-danger btn-sm btn-flat {{ (cert.status) ? 'disabled' : '' }}'>Delete</a>
                          </div>
                        </td>
                    </tr>  
                    {% endfor %}                  
                    </tbody>
                    </table>
                </div>                 
            </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="{{ path('create_crt') }}" class="btn btn-sm btn-success btn-flat pull-left">Make new certificate</a>
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">&raquo;</a></li>
              </ul>
            </div>
            <!-- /.box-footer -->
          </div>
        </div>
    </div>
{% endblock %}